.title_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.title {
    font-size: 48px;
    line-height: 56px;
    font-weight: bold;
    color: #000000;
    margin-right: 32px;
}
.createButton {
    flex: 0 0 100%;
    margin-top: 1rem;
}
.applicationsList {
    margin-top: 40px;
    padding-bottom: 100px;
}

.applicationsItem {
    margin-bottom: 24px;
}

.applicationsItem:last-of-type {
    margin-bottom: 0;
}

.no_applications_label {
    text-align: center;
    margin-top: 117px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #969696;
}
.formAddItem {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}
.formAddItem:last-of-type {
    margin-bottom: 0;
}
.formAddItemInline {
    flex-wrap: wrap;
}
.formAddItemInner {
    margin-bottom: 1rem;
}
.formAddItemInner:last-of-type {
    margin-bottom: 0;
}
.formAddItemInput {
    margin-right: 1rem;
}
.formAdd {

}

@media screen and (min-width: 600px) {
    .createButton {
        flex: 0 0 0;
        margin-top: 0;
    }
}

@media screen and (min-width: 900px) {
    .createButton {
        flex: 0 0 0;
        margin-top: 0;
    }
}