.footer {
    width: 100%;
    background-color: #fcfcfc;
    padding: 28px 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.copyrights {
    margin-bottom: 1rem;
    color: #000;
}
.terms {
    margin-bottom: 1rem;
}
.link {
    color: inherit;
    transition: all .3s ease-in-out;
}
.link:hover {
    color: #000;
}

@media screen and (min-width: 600px){
    .footer {
        padding: 28px 32px;
        flex-wrap: nowrap;
        text-align: left;
        justify-content: flex-start;
    }
    .copyrights {
        margin-right: 3rem;
        margin-bottom: auto;
    }
    .terms {
        max-width: 240px;
        margin-bottom: auto;
    }
    .emailUs {
        margin-left: auto;
    }
}