.adminQRcontainer {
    position: relative;
    display: flex;
    align-items: center;
}

.marking {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #1C1C1C;
}

.datetime {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;

    color: #969696;
}

.date {

}

.time {

}

.datetimeLine {
    width: 19px;
    height: 0;

    border: 1px solid #E8E8E8;
    transform: rotate(-90deg);
}

.qr {
    float: right;
}