.doc {
    display: flex;
    align-items: flex-start;
}
.icon {
    margin-right: 8px;
}
/* .info {

} */
.title {
    margin-bottom: 2px;
    font-size: 14px;
    line-height: 24px;
}
.link {
    color: #0085FF;
    transition: all .3s ease-in-out;
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
}
.link:hover {
    text-decoration: none;
}

.link_loading {
    color: #0085FF;
    transition: all .3s ease-in-out;
    font-size: 14px;
    line-height: 14px;
}

@media screen and (min-width: 600px){
    .icon {
    margin-right: 13px;
}
.title {
    font-size: 16px;
    line-height: 24px;
}
}