.section {
    background-color: #F7F9FA;
    /* padding: 16px; */
    border-radius: 16px;
}
.title {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  color: #1c1c1c;
  cursor: pointer;
  transition: .3s;

}
.title:hover {
  color: #969696;
}
.inner {
    padding: 16px;
    overflow: hidden;
}
.collapsed .titleIcon {
    transform: rotatex(180deg);
}
.content {
  margin-top: 16px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsed .content {
    margin-top: 0;
}