.application {
    background-color: #F7F9FA;
    border-radius: 16px;
    position: relative;
    color: #000000;
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
}
.application:hover {
    box-shadow: 0 2px 8px rgba(38, 39, 54, 0.16);
}
.noHover {
    cursor: initial;
}
.noHover:hover {
    box-shadow: initial;
}
.isDone, .isCourier {
    flex-wrap: wrap;
}
.info {
    flex-grow: 1;
    flex-shrink: 1;
    /*margin-right: auto;*/
}
.content {
    display: flex;
    align-items: center;
    padding: 14px 16px;
    flex-wrap: wrap;
}
.footer {
    padding: 0 16px 14px;
    cursor: initial;
}
.footerTitle {
    cursor: pointer;
    border-top: 1px solid #e8e8e8;
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.footerTitle:hover .footerIcon {
    background-color: #e8e8e8;
}
.footerIcon {
    margin-right: 5px;
    color: #585757;
    width: 28px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transform: rotatex(180deg);
    transition: all .3s ease-in-out;
}
.iconCollapsed {
    transform: rotatex(0deg);
}
.footerContent {
    transition: max-height 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
    overflow: hidden;
    margin-bottom: 12px;
}
.isCollapsed {
    max-height: 0px;
}
.table {
    margin-top: 1.5rem;
}
.status {
    width: 100%;
    min-width: 300px;
    max-width: 650px;
    display: none;
}
.statusDone {
    max-width: 520px;
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    font-size: 14px;
    margin-right: -4px;
}
.document {
    padding-left: 4px;
    padding-right: 4px;
}
.docCourier {
    min-width: 180px;
}
.courierInfo {
    --x-gap: 12px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 16px;
    margin-right: calc(0 - var(--x-gap));
    margin-left: calc(0 - var(--x-gap));
    margin-bottom: calc(-2 * var(--x-gap));
}
.courierItem {
    padding-left: var(--x-gap);
    padding-right: var(--x-gap);
    margin-bottom: calc(2 * var(--x-gap));
}
.address {
    min-width: 170px;
}

.addressTitle {
    font-size: 12px;
    color: #969696;
    margin-bottom: 5px;
}
.addressSubtitle {
    font-size: 14px;
    line-height: 18px;
}
.tableContainer {
    margin-top: 3rem;
}
.bigger_subtitle {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #1C1C1C;
}
.table {
    margin-top: 1.5rem;
}
.courier_choosen_chips {
    display: inline-flex;
    align-items: center;
    padding: 4px 12px 4px 12px;
    white-space: nowrap;
    background: #F0F0F0;
    border-radius: 32px;
    font-size: 12px;
    color: #585757;
}
.chipTitle {
    margin-left: 8px;
    font-weight: 500;
}
.buy_button {
    margin-left: 30px;
}
@media screen and (min-width: 375px) {
    .addButton {
        margin-top: 0px;
    }
}

@media screen and (min-width: 700px) {
    .isDone {
        flex-wrap: nowrap;
    }
    .title {
        margin-right: 50px;
        font-size: 48px;
        line-height: 56px;
    }
    .status {
        display: flex;
    }
    .info {
        white-space: nowrap;
        min-width: 300px;
    }
    .courierInfo {
        flex-wrap: nowrap;
    }
    .courierSelector {
        margin-left: auto;
    }
    .docCourier {
        min-width: 200px;
    }
}

.number {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin-top: 8px;
}

.date {
    font-size: 14px;
}

.arrow {
    white-space: nowrap;
    font-size: 35px;
}
@media screen and (min-width: 900px) {
    .isCourier {
        flex-wrap: nowrap;
    }
    .courierInfo {
        flex-wrap: nowrap;
        margin-top: 0;
    }
}